

.image-banner {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}
.thumbnail-bigger {
    width: 10em;
    height: auto;
    /*padding-right: 10em;*/
    /*height: 15em;*/
    /*max-width: 4em;*/
    /*height: auto;*/
    /*position: absolute;*/
}
.thumbnail-big {
    width: 8em;
    height: auto;
}
.thumbnail-med {
    width: 6em;
    height: auto;
}
.thumbnail-small {
    width: 4em;
    height: auto;
}

.darktext {
    color: #333;
}



